<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubber Stamp</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="seal30stamp-container">
        <p id="sealName" class="text seal30dynamic-name" contenteditable="true"></p>
        <p class="text seal30designation">Manager</p>
        <p class="text seal30emp-no">Emp. No. 12859</p>
        <p class="text seal30branch">Anakkatty Branch</p>
    </div>
</body>
</html>
