.seal18-stamp {
  width: 56mm;
  height: 21mm;
  border: 1px solid black; 
  padding: 0px;
  font-family: Arial, sans-serif;
  text-align: center;
  line-height: 1.5;
  color: black;
}

.seal18-container {
  text-align: center;
}

.seal18-top-text {
  font-weight: bolder;
  margin-top: -3px;
  text-align: left;
  font-family: Arial;
  font-size: 9pt;
}

.seal18-dotted-line p {
  font-weight: bolder;
  margin-top: -5px;
  text-align: left;
  margin-bottom: -8px;
  font-size: 14pt;
  margin-left: -2px;
}

.seal18-bold-text {
  font-weight: bold;
  margin-bottom: 11px;
  font-family: "Corbel";
  font-size: 10pt;
}

.seal18-bottom-text {
  text-align: right;
  font-family: "Swis721 CN BT";
  font-size: 9pt;
  font-weight: bold;
  padding-bottom: 4px;
  letter-spacing: -0.6px;
}

.seal18-footer {
  font-size: 12px;
  margin-top: 10px;
  color: black;
}