.seal14-body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seal14-stamp {
  border: 1px solid black;
  width: 56mm;
  height: 21mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 10px;
  position: relative;
}

.seal14-bank-name {
  font-family: "Corbel";
  font-size: 11.824pt;
  font-weight: 900;
  white-space: nowrap;
  margin-top: -2px;
  line-height: 1;
  letter-spacing: -0.3px;
}

.seal14-authorised {
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
  text-align: right;
  align-self: flex-end;
}

.seal14-branch {
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
  text-align: right;
  align-self: flex-end;
}

.seal14-bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;
  height: 100%;
  margin-bottom: 0px;
}

.seal14-details {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}