<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubber Stamp</title>
    <link rel="stylesheet" href="Seal 20.css">
</head>
<body>
    <div class="stamp-container">
        <div class="bank-name">ESAF Small Finance Bank Ltd.</div>
        <div class="branch-name">ARARIA BRANCH</div>
        <div class="address">
            NO - 1597, ZERO MILE ROAD, ARARIA P O<br>
            ARARIA DIST, BIHAR- 854311
        </div>
    </div>
   <br> Rubber Stamp<br>
    (Polymer Stamp)<br>
    Rs. 70/-
</body>
</html>
