.seal20-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    /*background-color: #ffffff;*/
    font-family: Arial, sans-serif;
    text-align: center;
}

.seal20-stamp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    width: 232.78px;
    height: 100.45px;   
    border: 3px solid black;
    padding: 2mm;
    margin-bottom: 10px; /* Space between rectangle and text below */
}

.seal20-bank-name {
    font-family: 'Corbel', sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

.seal20-branch-name {
    font-family: Arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
}

.seal20-address {
    font-family: 'Swis721 Cn BT', sans-serif;
    font-size: 9pt;
    font-weight: bold;
    margin-top: 2mm;
    /* letter-spacing: -0.9px; */
}