.seal10-body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  /*background-color: #ffffff;*/
}

.seal10-stamp {
  width: 57mm; /* Increased width slightly */
  height: 45mm; /* 45mm */
  border: 3px solid black; /* Thickness of 2.0pt */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  box-sizing: border-box;
  color: black;
}

.seal10-stamp .seal10-header {
  text-align: center;
}

.seal10-stamp .seal10-header .seal10-title {
  font-family: 'Corbel', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  margin: 0;
  white-space: nowrap; /* Prevent line break */
}

.seal10-stamp .seal10-header .seal10-branch {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  margin: 0;
}

.seal10-stamp .seal10-date-box {
  width: 35mm; /* 35mm */
  height: 17mm; /* 17mm */
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seal10-stamp .seal10-date {
  font-family: 'Swis721 Cn BT', sans-serif;
  font-size: 15pt;
  color: red;
}

.seal10-stamp .seal10-footer {
  text-align: center;
}

.seal10-stamp .seal10-footer .seal10-cash-received {
  font-family: Arial, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  margin: 0;
}

.seal10-details {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}