<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Seal Design</title>
<style>
    .number{
        font-family:'Swis721 Cn BT',sans-serif;
        font-size: 14.802px;
        color:black; 
       
        margin-top: 100px;
        line-height: 1.5;
        text-align: center;
    }
    .details{
        font-family: Arial, sans-serif;
        font-size: 10pt;
        color: #000;
        margin-top: 10px;
        line-height: 1.5;
        text-align: center;

    }
</style>
</head>
<body>
    <div class="number">12345678910123</div>
    <div class="details">
        <p>Rubber Stamp </p>
    
        <p>Rs. 98/-</p>
    </div>
    
</body>
</html>