.seal22-number {
  font-family: 'Swis721 Cn BT', sans-serif;
  font-size: 14.802px;
  color: black; 
  line-height: 1.5;
  text-align: center;
}

.seal22-details {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  color: #000;
  margin-top: 10px;
  line-height: 1.5;
  text-align: center;
}