.seal11-body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #ffffff;*/
  flex-direction: column;
}

.seal11-stamp-container {
  width: 59mm;
  height: 45mm;
  border: 3px solid black;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.seal11-stamp-header {
  font-family: 'Corbel', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  margin: 0;
  white-space: nowrap; /* Prevent line break */
}

.seal11-branch {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  margin: -5px 0 0 0; /* Reduced space with negative margin */
}

.seal11-inner-rectangle {
  width: 35mm;
  height: 17mm;
  border: 1pt solid black;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seal11-date {
  font-family: 'Swis721 CN BT', sans-serif;
  font-size: 15pt;
  color: red;
}

.seal11-cash {
  font-family: Arial, sans-serif;
  font-size: 16.616pt;
  font-weight: bold;
}

.seal11-options {
  display: flex;
  justify-content: center;
  font-size: 8pt;
  font-weight: bold;
  gap: 10px; /* Adjusted gap to bring checkboxes closer */
}

.seal11-option {
  display: flex;
  align-items: center;
  gap: 5px; /* Added gap for spacing between label and checkbox */
}

.seal11-option-label {
  font-family: Arial, sans-serif;
}

.seal11-checkbox {
  width: 4.309mm;
  height: 4mm;
  border: 2pt solid black;
  display: inline-block;
}

.seal11-details {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}