.seal23-body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: #ffffff;*/
}

.seal23-stamp {
  height: 10mm;
  width: 35mm;
  border: 1px solid black;
}

.seal23-title {
  font-family: 'Swis721 CN BT';
  font-size: 6pt;
  font-weight: 900;
  color: black;
  border-top: 2px solid;
  border-bottom: 2px solid;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.seal23-details {
  font-family: monospace;
  font-size: 10pt;
  color: #000;
  margin-top: 30px;
  text-align: center;
}

.seal23-details p {
  padding: 0px;
  margin: 1px;
}