<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stamp Design</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="seal24box">
        <div class="seal24stamp">
            <div class="seal24branch-name">
                ESAF Small Finance Bank Ltd.
                <p>Kuzhalmannam Branch</p>
            </div>
            <div class="seal24pay">PAY</div>
            <div class="seal24officer">Prescribed Officer</div>
        </div>
        
    </div>
</body>
</html>
