.seal4-seal {
  width: 54mm;
  height: 20mm;
  border: 1.5pt solid black;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  justify-content: space-between;
}

.seal4-bank-name {
  font-family: 'Corbel';
  font-size: 10pt;
  font-weight: bolder;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: -2px;
}

.seal4-branch-name {
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-bottom: 2px solid black;
  width: 100%;
  text-align: center;
  margin-top: -8px;
}

.seal4-verified {
  font-family: 'Corbel';
  font-size: 10pt;
  font-weight: bolder;
  letter-spacing: 1px;
  border-bottom: 2px solid black;
  text-align: center;
  margin: -2px;
  margin-bottom: -3px;
}

.seal4-details {
  font-family: Arial;
  font-size: 8.5pt;
  font-weight: bolder;
  letter-spacing: 0.5px;
  margin-bottom: -5px;
}

.seal4-details1 {
  font-family: Arial;
  font-size: 8.5pt;
  font-weight: bolder;   
}

.seal4-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 10px;
}

.seal4-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 50px;
}

.seal4-det {
  font-size: 10pt;
  color: #000;
  text-align: center;
}

.seal4-det p {
  padding: 0px;
}