.seal2-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  /*background-color: #ffffff;*/
  font-family: Arial, sans-serif;
}

.seal2-seal-container {
  display: flex;
  gap: 50px;
}

.seal2-seal {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.seal2-outer-circle {
  position: absolute;
  width: 104px;
  height: 104px;
  border: 1.5pt solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seal2-middle-circle {
  width: 96px;
  height: 96px;
  border: 1.5pt solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seal2-inner-circle {
  width: 68px;
  height: 68px;
  border: 1.5pt solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seal2-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.seal2-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 8.4pt;
  font-weight: bolder;
  font-family: "cobral";
}

.seal2-text.bottom {
  bottom: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7.908pt;
}

.seal2-text.seal2-center {
  font-size: 8.897pt;
  font-weight: bold;
  margin-top: 0px;
  font-family: "Corbel";
}

.seal2-curve-text {
  /* transform: rotate(180deg); */
}

.seal2-text_path {
  transform: scaleX(-1); 
}

.seal2-flipped-text {
  transform: rotate(180deg); 
  margin-top: 50px; 
  border-radius: -50%;
}

.seal2-curved-text {
  display: inline-block;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-align: center;
}

.seal2-op {
  position: absolute;
  margin-top: -50px;
  font-weight: bold;
}

.seal2-text1 {
  font-family: sans-serif;
}

.seal2-star1 {
  position: absolute;
  margin-left: -77px;
  margin-top: 14px;
}

.seal2-star2 {
  position: absolute;
  margin-left: 77px;
  margin-top: 14px;
}

.seal2-text_path {
  font-weight: bold;
  font-family: "Corbel";
  font-size: 6.803pt;
}