.seal13-body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seal13-stamp {
  border: 1px solid black;
  width: 56mm;
  height: 21mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 10px;
  position: relative;
}

.seal13-bank-name {
  font-family: "Corbel";
  font-size: 11.824pt;
  font-weight: bold;
  white-space: nowrap;
  margin-top: -1.5px;
  line-height: 1;
  letter-spacing: -0.3px;
}

.seal13-authorised {
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
  text-align: right;
  align-self: flex-end;
}

.seal13-branch {
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
  text-align: right;
  align-self: flex-end;
}

.seal13-bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;
  height: 100%;
  margin-bottom: -3px;
}

.seal13-details {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}